<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShoppingApp"
        tools:targetApi="31" >
        <activity
            android:name=".ShopByCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".views.carts.CartListActivity"
            android:exported="false" />
        <activity
            android:name=".views.checkout.CheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".views.products.ProductDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".views.dashboard.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".views.on_boarding.CreateAccountActivity"
            android:exported="false" />
        <activity
            android:name=".views.on_boarding.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".views.on_boarding.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".views.on_boarding.SplashActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>